name:

on:
  push:
    branches:
    - '**' # All branches
  pull_request:
    branches:
      - master

jobs:
  unit-test:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v6

      - name: Set up JDK 21
        uses: actions/setup-java@v5
        with:
          java-version: '21'
          distribution: 'oracle'
          architecture: 'x64'
          cache: 'gradle'

      - name: Run unit tests
        run: ./gradlew clean test --tests "*" -PincludeTags="unit"
